In [1]:
import dask.dataframe as dd
import geopandas as gpd

df = dd.read_parquet('people_RM.parquet')

df.head()

,id_vivienda,id_hogar,id_persona,provincia,comuna,comuna_bajo_umbral,area,tipo_operativo,sexo,edad,...,p45_medio_transporte,p46a_tot_hijs_nac,p46b_hijas_nac,p46c_hijos_nac,p47a_tot_hijs_sobrev,p47b_hijas_sobrev,p47c_hijos_sobrev,p48_anio_nac_uh,p48_mes_nac_uh,div_genero
0,54539,1,6,131,13129,2,1,2,2,61,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1,54542,1,1,131,13110,2,1,2,1,53,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,54549,1,1,134,13402,2,2,2,1,34,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,54549,1,2,134,13402,2,2,2,2,31,...,1.0,2.0,2.0,0.0,2.0,2.0,0.0,2024.0,1.0,2.0
4,54549,1,3,134,13402,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
transport_type_mapping = {
  1: 'Auto particular',
  2: 'Transporte público',
  3: 'Caminando',
  4: 'Bicicleta o scooter',
  5: 'Motocicleta',
  6: 'Caballo, o lancha, o bote',
  7: 'Otro',
  -99: 'Sin respuesta'
}

df['p45_medio_transporte_description'] = (
  df['p45_medio_transporte'].map(
    transport_type_mapping, 
    meta=(
      'p45_medio_transporte_description', 
      'object'
    )
  )
)

df['p45_medio_transporte_description'].value_counts().compute()

p45_medio_transporte_description
Auto particular               960388
Bicicleta o scooter           108781
Caballo, o lancha, o bote        422
Caminando                     248408
Motocicleta                    54494
Otro                          123109
Sin respuesta                    537
Transporte público           1572977
Name: count, dtype: int64

Carga de origen--destino en temas de trabajo.

In [3]:
df = df[
  (df['p44_lug_trab_esp'] != -99) &
  (df['p44_lug_trab_esp'] != 'NA')
]

df['p44_lug_trab_esp'].head()

0        NaN
1    13110.0
2    13127.0
3    13127.0
4        NaN
Name: p44_lug_trab_esp, dtype: float64

In [ ]:
cte = dd.read_csv('cod_territoriales_especificos.csv')
cte.rename(columns={'Código específico': 'code'})

cte.head()

   Código específico                        Territorio específico
0                  2                                       África
1                  5              Otros países de América del Sur
2                  9                                      Oceanía
3                 13  Otros países de América Central y El Caribe
4                 21                            América del Norte